<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netflix</title>
  <!--Link to Vue 2 version-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="./watchlist.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
    

</head>

<body>
  <header>


    <!--NAVBAR STARTS-->
    <nav class="navbar navbar-expand-lg" style="background-color:black">
      <div class="logo">
        <img src="./Images/Netflix_2015_logo.svg" class="netflixLogo">
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
 
        </div>
      </div>
    <!--V-SHOW-->
    <div id="app">
      <div v-show="showText">
        <p>User 1</p>
      </div>
      <div v-show="!showText">
        <p>User 2</p>
      </div>
      <button v-on:click="showText = !showText">Swop Users</button>
    </div>
    
    <script>
      new Vue({
      el: "#app",
      data: {
        showText: true,
      }
    })
    </script>
    
    
    
    
    <!--V-SHOW ENDS-->      
    </nav>

    <!--NAVBAR ENDS-->


  </header>
  <!--Image Carousel-->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./Images/Leap year movie.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Leap Year</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./Images/BigBangTheory.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>the Big Bang Theory</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Image Carousel Ends-->

  <!--Movie Cards Start-->
  <!--Watchlist-->
  <h1> Watch List</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <!--Card Starts-->
        <div class="card" style="width: 18rem;">
          <img src="./Images/madeofHonor.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/pitchPerfect.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/pitchPerfect2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/brooklyn99.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/missCongeniality.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/sellingSunset.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
    </div>
  </div>

  <h1> My List</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <!--Card Starts-->
        <div class="card" style="width: 18rem;">
          <img src="./Images/hotRod.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/justGoWithIt.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/whatHappensinVegas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/loveRosie.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/theProposal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="./Images/newGirl.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!--Card Ends-->

        <div id="moviesAvailable">
          <h1>Favourite Movies</h1>
          <!--RADIO BUTTON SELECTION STARTS -->
          <div class="container" id="people">
            <div class="filter">
              <label><input type="radio" v-model="selectedCategory" value="All" /> All</label>
              <label><input type="radio" v-model="selectedCategory" value="Movie" /> Movie</label>
              <label><input type="radio" v-model="selectedCategory" value="Series" /> Series</label>
              
            </div>

            <ul class="people-list">
              <li v-for="person in filteredPeople">{{ person.name }}</li>
            </ul>
          </div>


          <!-- RADIO BUTTON SELECTION ENDS-->
          <p id="output"></p>
          <ul>
            <li id="movies" v-for="x in movies ">{{x}}</li>
          </ul>
        </div>
        <!--movie LIST STARTS-->
        <script>


          var vm = new Vue({
            el: "#people",
            data: {
              people: [
                { name: "Made of Honor", category: "Movie" },
                { name: "Pitch Perfect", category: "Movie" },
                { name: "Pitch Perfect 2", category: "Movie" },
                { name: "Brooklyn 99", category: "Series" },
                { name: "Miss Congeniality", category: "Movie" },
                { name: "Selling Sunset", category: "Series" },
                { name: "Hot Rod", category: "Movie" },
                { name: "Just Go With It", category: "Movie" },
                { name: "What Happens in Vegas", category: "Movie" },
                { name: "Love,Rosie", category: "Movie" },
                { name: "The Proposal", category: "Movie" },
                { name: "New Girl", category: "Series" },


              ],
              selectedCategory: "All"
            },
            computed: {
              filteredPeople: function () {
                var vm = this;
                var category = vm.selectedCategory;

                if (category === "All") {
                  return vm.people;
                } else {
                  return vm.people.filter(function (person) {
                    return person.category === category;
                  });
                }
              }
            }
          });

          document.getElementById("output").innerHTML =
            moviesAvailable.$data.movies;

        </script>
        <!--MOVIE LIST ENDS-->
<!--ADDING MOVIE/SERIES TO FAVOURITES LIST BEGINS -->
<ul class="list">
  <li id="madeofHonor">Made of Honor</li>
  <li id="pitchPerfect">Pitch Perfect</li>
  <li id="cupcakes">Pitch Perfect 2</li>
  <li id="icecream">Brooklyn 99</li>
  <li id="cookies">Miss Congeniality</li>
  <li id="chocolate">Selling Sunset</li>
  <li id="pancakes">Made of Honor</li>
  <li id="donuts">Pitch Perfect</li>
  <li id="cupcakes">Pitch Perfect 2</li>
  <li id="icecream">Brooklyn 99</li>
  <li id="cookies">Miss Congeniality</li>
  <li id="chocolate">Selling Sunset</li>
</ul>

<script>
  // get favorites from local storage or empty array
var favorites = JSON.parse(localStorage.getItem('favorites')) || [];
// add class 'fav' to each favorite
favorites.forEach(function(favorite) {
  document.getElementById(favorite).className = 'fav';
});
// register click event listener
document.querySelector('.list').addEventListener('click', function(e) {
  var id = e.target.id,
      item = e.target,
      index = favorites.indexOf(id);
  // return if target doesn't have an id (shouldn't happen)
  if (!id) return;
  // item is not favorite
  if (index == -1) {
    favorites.push(id);
    item.className = 'fav';
  // item is already favorite
  } else {
    favorites.splice(index, 1);
    item.className = '';
  }
  // store array in local storage
  localStorage.setItem('favorites', JSON.stringify(favorites));
});

// local storage stores strings so we use JSON to stringify for storage and parse to get out of storage
</script>


<!--FAVOURITE LIST ENDS-->
      </div>
    </div>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>